* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    border-bottom: 2px dodgerblue;
}

body {
    overflow-x: hidden;
    background: #f3f5f8;
}

nav {
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    position: fixed !important;
    z-index: 999999;
    align-items: center;
    transition: 0.4s linear;
    background: rgba(241, 241, 241, 1);
}

.navbar {
    display: flex;
    gap: 250px;
    justify-content: space-around;
}

.nav-link a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link {
    transition: 0.4s linear;
}

.btn {
    cursor: pointer;
    display: none;
}

.header-info {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.header-info__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-info__top {
    display: flex;
    gap: 20px;
}

.header-info__top .left {
    border-right: 2px solid #a0a6b1;
    padding: 0 15px;
}

.header-info__top .right {
    border-radius: 2px;
    border-left: 2px solid #a0a6b1;
    padding: 0 15px;
}

.header-info__middle p {
    color: #202027;
    font-size: 50px;
    font-weight: 800;
}

.header-info__middle span {
    color: #16e09e;
}

.header-info__bottom p {
    font-size: 18px;
    font-weight: 500;
    color: #202027;
}

.header-info__bottom span {
    color: #7c4eff;
    font-size: 22px;
    font-weight: 600;
}


/* .header-info__button*/

.btn-header {
    width: 120px;
    height: 40px;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(230.52deg, #926bff 21.73%, #7c4eff 72.58%);
    box-shadow: 0px 8px 6px -6px rgba(86, 76, 234, 0.6), 0px 14px 12px -8px rgba(86, 76, 234, 0.6), 0px 22px 24px -16px rgba(86, 76, 234, 0.6);
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    transition: 0.7s ease;
}

.btn-header:hover {
    background: transparent;
    color: #000;
}

.header-info__right img {
    width: 700px;
    height: 450px;
}

.header-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    background: #f3f5f8;
    /* shadow */
    box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03), 0px 4px 8px -1px rgba(7, 0, 28, 0.03);
    border-radius: 24px;
}

.header-item__1 {
    padding: 0 40px;
    height: 75%;
    border-right: 2px solid #d1c8fb;
}

.header-item__2 {
    width: 200px;
    height: 75%;
    border-right: 2px solid #d1c8fb;
    margin-top: 10px;
    padding: 0 15px;
}

.header-item__3 {
    width: 180px;
    height: 75%;
    border-right: 2px solid #d1c8fb;
    margin-top: 10px;
    padding: 0 15px;
}

.header-item__1 p,
.header-item__2 p,
.header-item__3 p,
.header-item__4 p {
    font-size: 23px;
    margin-top: 16px;
    color: #485064;
    font-weight: 700;
}

.header-item__1 span,
.header-item__2 span,
.header-item__3 span,
.header-item__4 span {
    font-size: 14px;
    color: #000 !important;
    font-weight: 400;
}


/* Header style end */


/* Section style start */

.section-title {
    text-align: center;
    padding: 60px;
    font-size: 40px;
    font-weight: 700;
}

.section-title p {
    color: #202027;
}

.section-title span {
    color: #16e09e;
}

.card-img p {
    font-size: 24px;
    font-weight: 700;
    color: #485064;
}

.card-img img {
    padding: 10px;
}

.card-img span {
    font-weight: 400;
    font-size: 16px;
    color: #202027;
}

.card-fluid__text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-fluid__text p {
    font-weight: 500;
    font-size: 14px;
    color: #202027;
}

.card-fluid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards-item__left,
.cards-item__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0;
}

.cards-item__left {
    padding: 0 100px;
    border-right: 2px solid #e5eaef;
    border-radius: 2px;
}

.card-text__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 100px;
    /* text-align: center; */
}

.card-text__center p:nth-child(1) {
    color: #727d99;
    font-weight: 700;
    font-size: 22px;
}

.card-text__center p:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    color: #202027;
}

.card-text__center span {
    font-size: 30px;
    font-weight: 800;
    color: #7c4eff;
}


/* Section style end */


/* Learn card item start */

.learn-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}

.learn-card__item:nth-child(1) {
    display: flex;
    gap: 5px !important;
}

.learn-card__item {
    width: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 320px;
    background: #f9fbfd;
    box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03), 0px 4px 8px -1px rgba(7, 0, 28, 0.03);
    border-radius: 24px;
    transition: 0.6s ease;
}

.learn-card__item:hover {
    background: #7c4eff;
    color: #fff;
}

.learn-text p {
    font-size: 20px;
    font-weight: 600;
}


/* Learn card item end */


/* Partner start */

.partners-items {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 40px 0;
}

.big-partners__item {
    width: 250px;
    height: 90px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(124, 78, 255, 0.1);
    box-shadow: 0px 5px 5px -2.44519px rgba(124, 78, 255, 0.08), 0px 10px 10px -4.89039px rgba(124, 78, 255, 0.08), 0px 20px 20px -9.78077px rgba(124, 78, 255, 0.08), 0px 40px 40px -19.5615px rgba(124, 78, 255, 0.08);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

.partners-item {
    width: 200px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgba(124, 78, 255, 0.1);
    box-shadow: 0px 20px 40px -19.5615px rgba(7, 0, 28, 0.03), 0px 10px 20px -9.78077px rgba(7, 0, 28, 0.03), 0px 5px 10px -4.89039px rgba(7, 0, 28, 0.03);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
    transition: 0.7s ease;
}

.partners-item:hover {
    background-color: blueviolet;
}

.big-partners__item:hover {
    background-color: blueviolet;
    color: #f9fbfd;
}

.partners-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-btn {
    width: 200px;
    height: 50px;
    padding: 4px 8px;
    font-size: 15px;
    color: #7c4eff;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background: #f9fbfd;
    border: 0.5px solid grey;
    border-radius: 12px;
    transition: 0.7s ease;
}

.partners-btn:hover {
    background: #7c4eff;
    color: #fff;
}


/* Partner end */


/* Business start */

.business {
    padding-bottom: 50px;
}

.busisess-items {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.busines__item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.business-text {
    color: #202027;
}

.business-text p {
    font-size: 25px;
    font-weight: 600;
}

.business-text span {
    font-size: 16px;
    font-weight: 400;
}

.business-items__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.business-items__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* Business end */


/* Graph start */

.wrapper {
    width: 90%;
    margin: 0 auto;
    height: 550px;
    background: rgba(241, 241, 241, 1);
    border-radius: 48px;
}

.wrapper-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-btn {
    text-align: center;
}

.graph {
    padding: 50px;
}

.graph-left,
.graph-right {
    padding: 50px;
}

.graph-left .graph-text p {
    font-weight: 800;
    font-size: 40px;
}

.graph-text span {
    color: #16e09e;
}

.graph-left p {
    font-weight: 400;
    font-size: 18px;
    color: #202027;
}


/* Graph end */


/* World start */

.world-item__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.world-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.world-item__right .text p {
    font-size: 24px;
    font-weight: 700;
    color: #485064;
}

.text span {
    color: #16e09e;
}

.world-item__right p {
    font-size: 16px;
    font-weight: 400;
    color: #202027 !important;
}


/* World end */


/* Free wrapper start */

.free {
    padding: 50px 0;
}

.free-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 300px;
    background: #f3f5f8;
    box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03), 0px 4px 8px -1px rgba(7, 0, 28, 0.03);
    border-radius: 32px;
}

.free-wrapper__text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.free-wrapper__text p {
    font-size: 30px;
    font-weight: 700;
}

.free-wrapper__text span {
    font-size: 18px;
    font-weight: 400;
}

.free-wrapper__img {
    position: relative;
    top: -80px;
}


/* Free wrapper end */


/* Footer start */

footer {
    width: 100%;
    height: 100%;
    background: #000 !important;
    color: #fff;
    padding: 35px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.connect {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer-logo p {
    font-size: 30px;
    font-weight: 700;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.column-left,
.column-middle,
.column-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.column-left span,
.column-middle span,
.column-right span {
    font-weight: 500;
    font-size: 13px;
    color: #a0a6b1;
    opacity: 0.75;
    cursor: pointer;
}

.column-left p,
.column-middle p,
.column-right p {
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    gap: 250px;
    align-items: center;
    padding-top: 25px;
}

.footer-text p {
    font-size: 16px;
}

.footer-icon {
    display: flex;
    gap: 15px;
}

.footer-icon img {
    cursor: pointer;
}


/* Footer end */


/* Scrol Top */

.scrolTop {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    /* background: rgba(241, 241, 241, 1); */
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s linear;
}

.scrolTop img {
    width: 40px;
}


/* Scrol Top */